<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sleepy Time</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <!-- pour écrire les logs de discussion -->
        {% for conv in conversation_history %}
        <div class="produit">
            {% if conv.role=="assistant" %}
                <li class="assistant boite">Sleepy Yumi : <span class="text">{{ conv.content }}</span></li>
            {% elif conv.role=="user"%}
                <li class="user boite">You : <span class="text">{{ conv.content }}</span></li>
            {% endif %}
            
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
        <hr>

        <!-- barre d'input -->
        <form method="POST" action="/">
            
            <label for="new_user_input"></label>
            <input type="text" id="new_user_input" name="user_input" required>
            
            <button id="button">➤</button>
            
        </form>

    </body>
</html>