<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Modification de Valeur Flask</title>
    </head>
    <body>
        <!-- <h1>Sleepy Yumi: <span style="color: blue;">{{ value }}</span></h1> -->
        {% for conv in conversation_history %}
        <div class="produit">
            {% if conv.role=="assistant" %}
                <li style="color: blue;">Sleepy Yumi : {{ conv.content }}</li>
            {% elif conv.role=="user"%}
                <li style="color: red;">You : {{ conv.content }}</li>
            {% endif %}
            
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
        <hr>

        <h2>Changer la Valeur</h2>
        
        <form method="POST" action="/">
            
            <label for="new_user_input">Nouvelle Valeur :</label>
            <input type="text" id="new_user_input" name="user_input" required>
            
            <button type="submit">Mettre à Jour la Valeur</button>
            
        </form>

    </body>
</html>